p

{
    color:rgb(28, 29, 36);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body 
{

    background-color:cornflowerblue

}
h2 

{

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}